<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>

    <div id="center">
        <div id="title">
            <h1>WARN ME DC</h1>
        </div>
        <ul id="nav">
            <li><a href="#">HOME</a></li>
            <li><a href="#">MENU</a></li>
            <li><a href="#">FOOD</a></li>
            <li><a href="#">RATE</a></li>
        </ul>
        <div id="wrap">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            <hr>
            <p>This is the footer.</p>
        </div>
    </div>
</html>
