<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>


    <div class="center">
        <div id="title">
            <h1>WARN ME DC</h1>
        </div>
        <ul id="nav">
            <li><a href="/home">Menu</a></li>
{% if user.is_authenticated %}
            <li><a href="/profile">User Profile</a></li>
            <li><a href="/logout">Log out ({{ user.username }})</a></li>
{% else %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log in</a></li>
{% endif %}
        </ul>
        <div id="wrap">
            <div id="content">
                <h1>This is the body</h1>
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            <hr>
            <p>This is the footer.</p>
        </div>
    </div>
</html>
