<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>

    <div id="center">
        <div id="title">
            <div style="padding:1px;padding-left:50px;">
                <h1>WARN ME DC</h1>
            </div>
        </div>
        <ul id="nav">
            <li><a href="/home">Menu</a></li>
{% if user.is_authenticated %}
            <li><a href="/profile">User Profile</a></li>
            <li><a href="/logout">Log out ({{ user.username }})</a></li>
{% else %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log in</a></li>
{% endif %}
        </ul>
        <img src="{{ STATIC_URL }}meat.png" width="100%" height="40%" />
        <div id="wrap">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            <hr>
            <p><center> Copyright (c) 2012: Denero's Army</p>
        </div>
    </div>
</html>
