{% extends "base.html" %}
{% load filters %}

{% block title %}HOME{% endblock %}

{% block content %}
{% for location, meals_foods in data.items %}
<div style="width:100%; height:250px; padding:20px">
    <div style="width:30%; float:left; background-color:#C19441; padding:20px; border-radius:10px;" >
        <h1> {{ location|location_name }} </h1>
    </div>
    {% for meal, foods in meals_foods.items %}
    <div style="width:29%; height:250px; padding-left: 10px; margin-left: 10px; line-height:1em; float:left; background-color:#F7F0A3; border-radius:10px;">
            <h2> {{ meal|meal_name }} </h2>
            <h3> Main foods </h3>
            {% for food in foods.main_foods %}
            <p class="{{ food|rating_class }}"> {{ food.name }}  ({{ food|get_rating }}) &nbsp <a href="/rate/{{food.id}}/1"><img src="{{ STATIC_URL }}/up.png" width="16px" height="16px"/></a>&nbsp<a href="/rate/{{food.id}}/0"><img src="{{ STATIC_URL }}/down.png" width="16px" height="16px"/></a></p>
            {% endfor %}
            <br>
            <h3> Other foods </h3>
            {% for food in foods.other_foods %}
                <p> {{ food.name }}  ({{ food|get_rating }})</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
