{% extends "base.html" %}
{% load filters %}

{% block title %}HOME{% endblock %}

{% block content %}
{% for location, meals_foods in data.items %}
<div style="width:100%; height:250px; padding:20px">
    <div style="width:30%; float:left; background-color:#C19441; padding:20px">
        <h1> {{ location|location_name }} </h1>
    </div>
    {% for meal, foods in meals_foods.items %}
        <div style="width:25%; height:230px; line-height:0px; float:right; padding-left:20px; padding-right:40px; background-color:#F7E0A3;">
            <h2> {{ meal|meal_name }} </h2>
            <h5> Main foods </h5>
            {% for food in foods.main_foods %}
            <p class="{{ food|rating_class }}"> {{ food.name }}  ({{ food.rating }}) </p>
            {% endfor %}
            <h5> Other foods </h5>
            {% for food in foods.other_foods %}
                <p> {{ food.name }}  ({{ food.rating }})</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
