{% extends base.html %}

<script language="JavaScript">
  {
    var ran_unrounded=Math.random()*6;
    var ran_number=Math.round(ran_unrounded);
    var currentImage = ran_number;

    function changeImage(){
      if (document.images){
        if(currentImage<7)
          currentImage++
        else
          currentImage = 1
        if(currentImage == 1)
        document.slideShow.src = "{{ STATIC URL }}/1.png"
        else if(currentImage == 2)
          document.slideShow.src = "{{ STATIC URL }}/2.png"
        else if(currentImage == 3)
          document.slideShow.src = "{{ STATIC URL }}/3.png"
        else if(currentImage == 4)
          document.slideShow.src = "{{ STATIC URL }}/4.png"
        setTimeout("changeImange()" 5000)
      }
    }
  }
</script>

{% block slideshow %}
<style>
  #randomize {
    position: absolute;
    top: 1000px;
    left:10px;
  }
</style>
<img src="{{ STATIC_URL }}2.png" />
{% endblock %}
