{% extends "base.html" %}

{% block title %}User {{id}} {% endblock %}

{% block content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
del = function(id) {
$.ajax("/remove/"+id).success(function() {
$("#"+id).addClass("inactive");
$("#"+id).removeClass("active");
$("#"+id+"a").attr("href", "javascript:activ('"+id+"')").html("Blacklist");
});
}

activ = function(id) {
$.ajax("/add/"+id).success(function() {
$("#"+id).addClass("active");
$("#"+id).removeClass("inactive");
$("#"+id+"a").attr("href", "javascript:del('"+id+"')").html("Remove");
});
}
</script>
<style type="text/css">
.active {
color:#000
}

.inactive {
color:#fff
}
</style>

<h2>Dietary Restrictions</h2>
{% for tag, xin in tags %}
{% if xin %}
<p id="tag{{ tag.id }}" class="active"> {{ tag.name }} <a id="tag{{ tag.id }}a" href="javascript:del('tag{{ tag.id }}')">Remove </a></p>
{% else %}
<p id="tag{{ tag.id }}" class="inactive"> {{ tag.name }} <a id="tag{{ tag.id }}a" href="javascript:del('tag{{ tag.id }}')">Blacklist </a></p>
{% endif %}
{% endfor %}
{% endblock %}

